<header class="topbar is_stuck" style="position: fixed; top: 0px; width: 100%">
    <nav class="navbar top-navbar navbar-expand-md navbar-light">
        <div class="navbar-header">
            <a class="navbar-brand" href="index.html">
                <!-- Logo icon -->
                <b>
                    <!--You can put here icon as well // <i class="wi wi-sunset"></i> //-->
                    <!-- Dark Logo icon -->
                    <img src="assets/images/logo_trump_small.png" width="48" height="48" alt="homepage" class="dark-logo" />
                    <!-- Light Logo icon -->
                    <img src="assets/images/logo_trump_small.png"  width="48" height="48" alt="homepage" class="light-logo" />
                </b>
                <!--End Logo icon -->
                <!-- Logo text -->
                <span>
                 <!-- dark Logo text -->
                 <img src="assets/images/text_trump_small.png" alt="homepage" class="dark-logo" />
                    <!-- Light Logo text -->
                 <img src="assets/images/text_trump_small.png" class="light-logo" alt="homepage" /></span> </a>
        </div>
        <div class="navbar-collapse">
            <!-- ============================================================== -->
            <!-- toggle and nav items -->
            <!-- ============================================================== -->
            <ul class="navbar-nav mr-auto mt-md-0">

            </ul>

        </div>
    </nav>
</header>

